<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/
     ;

        jQuery(function($) {
            var grid_selector = "#grid-table";
            var pager_selector = "#grid-pager";

            //resize to fit page size
          /*  $(window).on('resize.jqGrid', function () {
                $(grid_selector).jqGrid('setGridWidth', $(".page-content").width());
            })*/
            //resize on sidebar collapse/expand
           /* var parent_column = $(grid_selector).closest('[class*="col-"]');*/
           /* $(document).on('settings.ace.jqGrid', function (ev, event_name, collapsed) {
                if (event_name === 'sidebar_collapsed' || event_name === 'main_container_fixed') {
                    //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
                    setTimeout(function () {
                        $(grid_selector).jqGrid('setGridWidth', parent_column.width());
                    }, 0);
                }
            })*/


            jQuery(grid_selector).jqGrid({
                treeGrid: true,
                autowidth: true,
                datatype: "json",
                url: "/forum/test",
                treeGridModel: "adjacency",
                height: "auto",
                /*colNames:['板块编号 ', '板块名称','创建时间', '状态'],
                colModel:[
                    {name:'number',index:'number', width:110,sorttype:"int"},
                    {name:'name',index:'name', width:80},
                    {name:'createdate',index:'createdate', width:80},
                    {name:'status',index:'status'},
                ],*/
                colNames: ['编号', '姓名', '密码', '年龄', '地址', '出生日期'],
                colModel: [
                    {name: 'id', index: 'id', width: 90, sorttype: "int"},
                    {name: 'name', index: 'name', width: 110, sorttype: "int"},
                    {name: 'url', index: 'url', width: 80},
                    {name: 'permission', index: 'permission', width: 80},
                    {name: 'isshow', index: 'isshow', width: 80},
                    {name: 'opt', index: 'opt', width: 80, sorttype: "date"}
                ],
                jsonReader: {//返回参数格式处理
                    root: "results",
                    page: "page",
                    total: "totalPages",
                    records: "total"
                },
                treeReader: {
                    level_field: 'level',
                    parent_id_field: 'parentId',
                    leaf_field: 'leaf',
                    expanded_field: 'expanded'
                },
                viewrecords: true,
                rownumbers: false,
                pager: pager_selector,
                //toppager: true,

                multiselect: false,
                //multikey: "ctrlKey",
                multiboxonly: true,


                shrinkToFit: true,
                editurl: "/dummy.html",//nothing is saved
                caption: "jqGrid with inline editing"

            });

        })

            //enable search/filter toolbar
            //jQuery(grid_selector).jqGrid('filterToolbar',{defaultSearch:true,stringResult:true})
            //jQuery(grid_selector).filterToolbar({});


            //switch element when editing inline

        /*]]>*/
    </script>
</th:block>
<th:block layout:fragment="content">
    <div class="page-header">
        <h1>
            jqGrid
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Dynamic tables and grids using jqGrid plugin
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="well well-sm">
                <button type="button" class="close line-height-0" data-dismiss="alert">
                    <i class="ace-icon fa fa-times smaller-75"></i>
                </button>

                You can have a custom jqGrid download here:
                <a href="http://www.trirand.com/blog/?page_id=6" target="_blank">
                    http://www.trirand.com/blog/?page_id=6
                    <i class="fa fa-external-link bigger-110"></i>
                </a>
            </div>

            <table id="grid-table"></table>

            <div id="grid-pager"></div>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div>
</th:block>
</html>

